@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-focus-inner {
    border: 0 !important;
}

:-moz-focusring {
    outline: none !important;
}

@keyframes bounce-easy {
  0%, 100% {
    transform: translateY(-12.5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}